<!DOCTYPE html>
    <html lang="en">

        <head>
            <title>Building Management - New Apartment</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        </head>
        
        <body>
            <br><br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-head text-center">
                                <a href="{% url 'apartments' id %}"><-الخلف</a>&ensp;&ensp;&ensp; اضافة شقة
                            </div>
                            <div class="card-body">
                                {% if message %}
                                    <div class="alert alert-danger" role="alert">
                                        {{message}}
                                    </div>
                                {% endif %}
                                <form method="post">{% csrf_token %}
                                    <input type="number" class="form-control" required name="num" placeholder="رقم الشقة"><br>
                                    <input type="text" class="form-control" required name="name" placeholder="أسم المستأجر"><br>
                                    <input type="number" class="form-control" required name="phone" placeholder="رقم الجوال"><br>
                                    <select class="form-control" required name="type_of">
                                        <option selected disabled>-Select Type-</option>
                                        <option>شقة</option>
                                        <option>غرفة</option>
                                        <option>دور</option>
                                    </select><br>
                                    <input type="number" class="form-control" required name="cnum" placeholder="رقم العقد"><br>
                                    <input type="number" class="form-control" required name="enum" placeholder="رقم حساب الكهرباء"><br>
                                    <label>ملاحظات</label>
                                    <textarea class="form-control" required name="note"></textarea><br>
                                    <button class="btn btn-primary text-center" type="submit">
                                        Add
                                    </button>
                                </form>
                            </div>
                            <div class="card-footer">
                                <div class="row justify-content-end">
                                    {% if request.user.is_superuser %}
                                        <div class="col-lg-2">
                                            <a href="/admin">
                                                Admin
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-2">
                                        <a href="{% url 'logout' %}">
                                            تسجيل خروج
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>

    
    </html>